.login-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  margin: 0 auto;

  .logo-section {
    margin-bottom: 40px;
    h1 {
      font-weight: bold;
      color: var(--ion-color-primary);
    }
    p {
      color: var(--ion-color-medium);
    }
  }

  ion-list {
    background: transparent;
  }
}
